  .shopping-cart .navbar-right {
  	list-style: none;
  	position: relative;
  	display: block;
  	padding-top: 15px;
  	padding-left: 0;
  }

  .shopping-cart .navbar-right li:first-child {
  	margin-left: 15px;
  	margin-right: 10px;
  }

  .shopping-cart ul li {
  	display: inline;
  	/* padding-left: 20px; */
  }

  .shopping-cart ul li a {
  	color: #777;
  	text-decoration: none;
  }

  .shopping-cart ul li a:hover {
  	color: black;
  	text-decoration: none;
  }

  .shopping-cart .badge {
  	background-color: #ae1903;
  	border-radius: 10px;
  	color: white;
  	display: inline-block;
  	font-size: 12px;
  	line-height: 1;
  	padding: 3px 7px;
  	text-align: center;
  	vertical-align: middle;
  	white-space: nowrap;
  }

  .shopping-cart {
  	margin: 20px 0;
  	right: 15px;
  	background: white;
  	width: 320px;
  	top: 85%;
  	border-radius: 3px;
  	/* padding: 20px; */
  	padding-left: 0;
  	padding-right: 0;
  	padding-top: 10px;
  	position: absolute;
  	z-index: 10;
  	border: 1px solid #000;
  	display: none;
  	transform: translateX(-83%);

  }

  .shopping-cart .shopping-cart-header {
  	border-bottom: 1px solid #e8e8e8;
  	padding-bottom: 25px;
  	padding-left: 10px;
  	padding-right: 10px;
  }

  .shopping-cart .shopping-cart-header .shopping-cart-total {
  	float: right;
  }

  .shopping-cart .shopping-cart-items {
  	padding-top: 10px;
  	padding-left: 0px;
  	padding-left: 10px;
  	padding-right: 10px;
  }

  .shopping-cart .shopping-cart-items li {
  	margin-bottom: 18px;
  	list-style: none;
  }

  .shopping-cart .shopping-cart-items img {
  	float: left;
  	margin-right: 12px;
  	position: absolute;
  	top: 10%;
  }

  .shopping-cart .shopping-cart-items .item-name {
  	display: block;
  	padding-top: 10px;
  	font-size: 16px;
  }

  .shopping-cart .shopping-cart-items .item-price {
  	color: #ae1903;
  	margin-right: 8px;
  }

  .shopping-cart .shopping-cart-items .item-quantity {
  	color: #abb0be;
  	display: block;
  }

  .shopping-cart:after {
  	bottom: 100%;
  	left: 89%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  	border-bottom-color: white;
  	border-width: 8px;
  	margin-left: -8px;
  	border-color: transparent transparent #000;
  }

  .shopping-cart .notification-wrapper {
  	margin: 20px 0;
  	right: 53px;
  	background: white;
  	width: 320px;
  	top: 60%;
  	border-radius: 3px;
  	/* padding: 20px; */
  	padding-left: 0;
  	padding-right: 0;
  	padding-top: 10px;
  	position: absolute;
  	z-index: 10;
  	border: 1px solid #000;
  	display: none;

  }

  .shopping-cart .notification-wrapper .notification-wrapper-header {
  	border-bottom: 1px solid #e8e8e8;
  	padding-bottom: 30px;
  	padding-left: 10px;
  	padding-right: 10px;
  }

  .shopping-cart .notification-wrapper .notification-wrapper-header .notification-wrapper-total {
  	float: left;
  }

  .shopping-cart .notification-wrapper .notification-wrapper-items {
  	padding-top: 10px;
  	padding-left: 0px;
  }

  .shopping-cart .notification-wrapper .notification-wrapper-items li {
  	margin-bottom: 18px;
  	list-style: none;
  	border-bottom: solid 1px rgba(0, 0, 0, .1);
  }

  .shopping-cart .notification-wrapper .notification-wrapper-items img {
  	float: left;
  	margin-right: 12px;
  	position: absolute;
  	top: 10%;
  }

  .shopping-cart .notification-wrapper .notification-wrapper-items .item-name {
  	display: block;
  	padding-top: 10px;
  	font-size: 16px;
  }

  .shopping-cart .notification-wrapper .notification-wrapper-items .item-price {
  	color: #ae1903;
  	margin-right: 8px;
  }

  .shopping-cart .notification-wrapper .notification-wrapper-items .item-quantity {
  	color: #abb0be;
  	display: block;
  }

  .shopping-cart .notification-wrapper:after {
  	bottom: 100%;
  	left: 89%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  	border-bottom-color: white;
  	border-width: 8px;
  	margin-left: -8px;
  	border-color: transparent transparent #000;
  }


  .shopping-cart .cart-icon {
  	color: #515783;
  	font-size: 24px;
  	margin-right: 7px;
  	float: left;
  }

  .shopping-cart .button {
  	background: #ae1903;
  	color: white;
  	text-align: center;
  	padding: 12px;
  	text-decoration: none;
  	display: block;
  	border-radius: 3px;
  	font-size: 16px;
  	margin: 25px auto 15px auto;
  	width: 90%;
  }

  .shopping-cart .button:hover {
  	background: #ae1903;
  }

  .shopping-cart .clearfix:after {
  	content: "";
  	display: table;
  	clear: both;
  }

  .shopping-cart a {
  	text-decoration: none;
  }


  .shopping-cart .container_thumbnail {
  	margin: 0 auto;
  }

  .shopping-cart .notification_icon {
  	background: #1b9a89;
  	color: white;
  	border-radius: 15px;
  	padding: 5px;
  	text-align: center;
  	width: 26px;
  	height: 26px;
  }

  .shopping-cart .flex_center {
  	justify-content: center;
  	align-items: center;
  }

  .shopping-cart .no_padding {
  	padding: 0;
  }

  .shopping-cart .no_margin {
  	margin: 0;
  }

  .shopping-cart .small_line_height {
  	line-height: 1;
  }

  .shopping-cart .fix_padding {
  	padding-left: 10px;
  	padding-right: 10px;
  }

  .cart_table {
	color: white;
  }

  .cart_table th {
	text-align: center;
	font-weight: bold;
  }

  .cart_table td {
	text-align: center;
  }

  .cart_table .align_left{
	  text-align: left
  }